Recuperação de senha
Uma solicitação de alteração de senha foi feita no email {{ email }}. Caso você não tenha feito essa requisição, troque sua senha imediatamente.

Para continuar com a recuperação, utilize o token {{ token }} ou clique no link abaixo
{{link}}